@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #ffffff;
}

#landingPage {
  width: 1000px;
  height: auto;
  background-color: #ffffff;
  margin: auto;
}

.sectionTitle {
  width: 950px;
  height: auto;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
}

.viewMoreLink {
  width: 800px;
  height: auto;
  margin: auto;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
}

.viewMoreLink a {
  color: #272727;
  font-weight: bold;
  text-decoration: none;
}

hr {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.article {
  width: 100%;
  padding: 10px;
  text-align: justify;
}

.Pagination {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
.Pagination li {
  display: inline-block;
  font-size: 16px;
  padding: 15px;
}
.Pagination a {
  color: rgb(3, 3, 3);
  font-weight: bold;
  text-decoration: none;
}

@media (min-width: 100px) and (max-width: 500px) {
  #landingPage {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    margin: auto;
  }
  .sectionTitle {
    width: 100%;
    height: auto;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    float: left;
  }
  .article {
    width: 90%;
    padding: 10px;
    margin: auto;
    text-align: justify;
  }
  .viewMoreLink {
    width: 200px;
    height: auto;
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 600;
  }
  .viewMoreLink a {
    color: #272727;
    font-weight: bold;
    text-decoration: none;
  }
}
.navbar {
  background-color: #ffffff;
}

.navbar-brand img {
  width: 120px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin: auto;
  background-color: #ffffff;
  padding: 5px 0px 0px 0px;
  justify-content: space-evenly;
  gap: 5px;
}
.flex-container .NintendoGameCard {
  width: 32%;
  margin: 5px;
}
.flex-container .NintendoGameCardB {
  width: 48.2%;
  margin: 5px;
}

.NintendoGameCard,
.NintendoGameCardB {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.NintendoGameCard img,
.NintendoGameCardB img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 8px;
}
.NintendoGameCard .gameDate p,
.NintendoGameCard .gameTitle p,
.NintendoGameCard .gameDescription p,
.NintendoGameCard .gameReadmore p,
.NintendoGameCardB .gameDate p,
.NintendoGameCardB .gameTitle p,
.NintendoGameCardB .gameDescription p,
.NintendoGameCardB .gameReadmore p {
  margin: 4px 5px 0px 5px;
  text-align: justify;
  color: black;
}
.NintendoGameCard .gameDate a,
.NintendoGameCard .gameTitle a,
.NintendoGameCard .gameDescription a,
.NintendoGameCard .gameReadmore a,
.NintendoGameCardB .gameDate a,
.NintendoGameCardB .gameTitle a,
.NintendoGameCardB .gameDescription a,
.NintendoGameCardB .gameReadmore a {
  text-decoration: none;
  color: #272727;
}
.NintendoGameCard .gameDate a:hover,
.NintendoGameCard .gameTitle a:hover,
.NintendoGameCard .gameDescription a:hover,
.NintendoGameCard .gameReadmore a:hover,
.NintendoGameCardB .gameDate a:hover,
.NintendoGameCardB .gameTitle a:hover,
.NintendoGameCardB .gameDescription a:hover,
.NintendoGameCardB .gameReadmore a:hover {
  color: purple;
}

.gameDate {
  font-size: 14px;
  font-weight: 600;
}

.gameTitle {
  font-size: 16px;
  font-weight: 600;
}

.gameDescription {
  font-size: 14px;
  text-align: justify;
}

.gameReadmore {
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 700;
}

.NintendoGameCard:hover {
  transform: translate(0, -10px);
  transition: 0.5s;
}

.NintendoGameCardB:hover {
  transform: translate(0, -10px);
  transition: 0.5s;
}

@media (min-width: 100px) and (max-width: 500px) {
  .flex-container {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    margin: auto;
    padding-left: 15px;
    margin-bottom: 5px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    z-index: 0;
    justify-content: start;
  }
  .flex-container .NintendoGameCard {
    width: 300px;
    height: auto;
    flex: 0 0 auto;
    margin-bottom: auto;
  }
  .flex-container .NintendoGameCardB {
    width: 350px;
    height: auto;
    flex: 0 0 auto;
    margin-bottom: auto;
  }
  .container::-webkit-scrollbar {
    display: none;
  }
}
.mainBanner {
  width: 1000px;
  height: auto;
  padding: 5px 0px 25px 0px;
}
.mainBanner img {
  width: 100%;
  border-radius: 5px;
}

.secondaryBanner {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  background-color: #ffffff;
  margin: auto;
}

.secondaryBanner > div {
  width: 49%;
  margin: auto;
  height: auto;
  align-content: center;
  display: inline-block;
  justify-content: space-evenly;
}
.secondaryBanner > div img {
  width: 100%;
  border-radius: 5px;
}

.secondaryBanner:hover {
  transform: translate(0, -5px);
  transition: 0.5s;
}

@media (min-width: 100px) and (max-width: 500px) {
  .mainBanner {
    width: 100%;
    height: auto;
    padding: 5px 0px 25px 0px;
  }
  #mainBanner {
    content: url("../assets/img/banners/Super-Mario-Bros-Wonder-Banner-Vertical-C.jpg");
    width: 100%;
    margin: auto;
  }
  #sambaAmigoBanner {
    content: url("../assets/img/banners/Samba-de-Amigo-Party-Central-Banner-V-B.jpg");
    width: 100%;
    margin: auto;
  }
  #tearsOfKingdomBanner {
    content: url("../assets/img/banners/The-Legend-of-Zelda-Tears-of-the-Kingdom-Banner-V-B.png");
    width: 100%;
    margin: auto;
  }
  #fireEmblemHeroesBanner {
    content: url("../assets/img/banners/Fire-Emblem-Heroes-Banner-Vertical-C.jpg");
    width: 100%;
    margin: auto;
  }
  #bayonetta3Banner {
    content: url("../assets/img/banners/Bayonetta-3-Banner-Vertical-C.jpg");
    width: 100%;
    margin: auto;
  }
  #nintendoSwitchOled {
    content: url("../assets/img/banners/Lanzamiento-OLED-Mario-V.png");
    width: 100%;
    margin: auto;
  }
  .readMore {
    text-decoration: underline;
  }
  .secondaryBanner {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    margin: auto;
    margin-bottom: 20px;
  }
  .secondaryBanner > div {
    width: 100%;
    padding: 5px;
    margin: 0px 0px 0px 0px;
    height: auto;
    align-content: center;
    display: inline-block;
  }
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin: auto;
  background-color: #ffffff;
  padding: 5px 0px 0px 0px;
  justify-content: space-evenly;
  gap: 5px;
}
.flex-container .NintendoNewsCard {
  width: 32%;
  margin: 5px;
}

.NintendoNewsCard {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.NintendoNewsCard img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 8px;
}
.NintendoNewsCard .gameDate p,
.NintendoNewsCard .gameTitle p,
.NintendoNewsCard .gameDescription p,
.NintendoNewsCard .gameReadmore p {
  margin: 4px 5px 0px 5px;
  text-align: justify;
}

.gameDate {
  font-size: 14px;
  font-weight: 600;
}

.gameTitle {
  font-size: 16px;
  font-weight: 600;
}

.gameDescription {
  font-size: 14px;
  text-align: justify;
}

.gameReadmore {
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 700;
}

.NintendoNewsCard:hover {
  transform: translate(0, -10px);
  transition: 0.5s;
}

@media (min-width: 100px) and (max-width: 500px) {
  .flex-container {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    margin: auto;
    padding-left: 15px;
    margin-bottom: 5px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    z-index: 0;
    justify-content: start;
  }
  .flex-container .NintendoNewsCard {
    width: 300px;
    height: auto;
    flex: 0 0 auto;
    margin-bottom: auto;
  }
  .container::-webkit-scrollbar {
    display: none;
  }
}
footer {
  width: auto;
  height: 100px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 30px;
}

.logo {
  margin: auto;
}
.logo img {
  width: 150px;
}

/*# sourceMappingURL=style.css.map */
