.flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin: auto;
    background-color: $primaryColor;
    padding: 5px 0px 0px 0px;
    justify-content: space-evenly;
    gap: 5px;

    .NintendoGameCard {
        width: 32%;
        margin: 5px;
    }

    .NintendoGameCardB {
        width: 48.2%;
        margin: 5px;
    }

}


.NintendoGameCard,
.NintendoGameCardB {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;


    img {
        width: 100%;
        height: auto;
        border-radius: 5px;
        margin-bottom: 8px;
    }

    .gameDate,
    .gameTitle,
    .gameDescription,
    .gameReadmore {

        p {
            margin: 4px 5px 0px 5px;
            text-align: justify;
            color: black;
        }

        a {
            text-decoration: none;
            color: $secondaryColor
        }

        a:hover {
            color: purple;
        }

        a:visited {
            color: purple;
        }
    }

}

.gameDate {
    font-size: 14px;
    font-weight: 600;
}

.gameTitle {
    font-size: 16px;
    font-weight: 600;
}

.gameDescription {
    font-size: 14px;
    text-align: justify;

}

.gameReadmore {
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 700;

}

@mixin cardAnimations {
    transform: translate(0, -10px);
    transition: 0.5s;
    animation-timing-function: ease-in-out;
}

.NintendoGameCard:hover {
    @include cardAnimations;
}

.NintendoGameCardB:hover {
    @include cardAnimations;

}

@media (min-width: 100px) and (max-width: 500px) {


    .flex-container {
        width: 100%;
        height: auto;
        background-color: $primaryColor;
        margin: auto;
        padding-left: 15px;
        margin-bottom: 5px;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        z-index: 0;
        justify-content: start;

        .NintendoGameCard {
            width: 300px;
            height: auto;
            flex: 0 0 auto;
            margin-bottom: auto;
        }

        .NintendoGameCardB {
            width: 350px;
            height: auto;
            flex: 0 0 auto;
            margin-bottom: auto;
        }

    }

    .container::-webkit-scrollbar {
        display: none;
    }

}